<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Pass Authorization Headers
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Pass X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Do not rewrite if already public/
    RewriteCond %{REQUEST_URI} !^.*/backend/public/.*$
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
